<% set_meta_tags site: "Deco27 | South Floridas Premier luxury interior decorator. ",
                 description: 'Deco27 is South Floridas premier designer, featuring the most sought after brands in Hardwood flooring, Walls, Porcelains, and Doors.',
								 og: {
									 title: "Deco27 | South Floridas Premier luxury interior decorator. ",
									 type: 'website',
									 url: 'http://www.deco27.net#',
									 description: "Deco27 is South Florida's premier designer, featuring the most sought after brands in Hardwood flooring, Walls, Porcelains, and Doors.",
									 image: "http://i.imgur.com/ZBgbe7n.png"
									 }%>

<div>
  <br>
  <br>
</div>
  <div class="fluid-container">
    <div class="row">
      <div id="content" class="col-sm-12">
        <div data-delay="200" data-animate="fadeInDown" class="bt-block-category fadeInDown animated">
          <a href="#"> <img alt="banner" src="../images/banner/EcoDomo.jpg"></a>
          <div class="block-title">
            <h1>Luxury Designs</h1>
            <h4>with an Eye for Detail</h4>
            <a style="float:right" href="#">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
        <!-- /.bt-block-category -->

        <div class="container">
            <div class="row">
                <column id="column-left" class="col-sm-3 hidden-xs">
                    <div class="box bt-category not-animated" data-animate="fadeInLeft" data-delay="200">
                        <div class="box-heading">
                            <h1>Categories</h1>
                        </div>
                        <div class="box-content">
                            <div class="box-category" id="boss-category">
                                <ul class="box-category">
                                    <li class="child active"> <a class="list-group-item active" href="#">Cakes (19)</a>
                                        <ul class="item_child">
                                            <li><a class="list-group-item" href="#">Birthday Cakes (4)</a>
                                            </li>
                                            <li><a class="list-group-item" href="#">Wedding Cakes (11)</a>
                                            </li>
                                            <li><a class="list-group-item" href="#">Graduation Cakes (1)</a>
                                            </li>
                                            <li><a class="list-group-item" href="#">Kid  Cakes (0)</a>
                                            </li>
                                            <li><a class="list-group-item" href="#">Cheese Cakes (2)</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li> <a class="list-group-item" href="#">Cookies (3)</a> </li>
                                    <li> <a class="list-group-item" href="#">Cupcakes (12)</a> </li>
                                    <li> <a class="list-group-item" href="#">Breads (4)</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.bt-category -->
                    <div class="bt-latest box not-animated" data-animate="fadeInLeft" data-delay="200">
                        <div class="box-heading">
                            <h1>Latest</h1>
                        </div>
                        <div class="box-content">
                            <div class="box-item">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p20-115x131.jpg" alt="Sander Vasari white shirt" title="Sander Vasari white shirt" class="img-responsive" />
                                    </a>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Sander Vasari white shirt</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $241.99 </div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p3-115x131.jpg" alt="Oversized sweatshirt" title="Oversized sweatshirt" class="img-responsive" />
                                    </a>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Oversized sweatshirt</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $122.00 </div>
                                </div>
                            </div>
                            <div class="box-item">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p11-115x131.jpg" alt="Jil Sander Vasari white shirt" title="Jil Sander Vasari white shirt" class="img-responsive" />
                                    </a>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Jil Sander Vasari white shirt</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $122.00 </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.bt-latest -->
                    <div class="box bt-filter not-animated" data-animate="fadeInLeft" data-delay="200">
                        <div class="box-heading">
                            <h3>Boss Refine Search</h3>
                        </div>
                        <div class="box-content">
                            <div class="list"> <a class="title">COLOR</a>
                                <div class="bt-filter-image">
                                    <div id="filter-group1">
                                        <ul>
                                            <li>
                                                <a title="Silver (0)" href="13"><img alt="Silver (0)" src="images/colors/silver-32x32.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Yellow (3)" href="12"><img alt="Yellow (3)" src="images/colors/gray-32x32.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Blue (0)" href="7"><img alt="Blue (0)" src="images/colors/blue-32x32.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Black (6)" href="1"><img alt="Black (6)" src="images/colors/black-32x32.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Pink (4)" href="2"><img alt="Pink (4)" src="images/colors/pink-32x32.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Red (6)" href="3"><img alt="Red (6)" src="images/colors/red-32x32.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Green (3)" href="11"><img alt="Green (3)" src="images/colors/green-32x32.png" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Orange (1)" href="14"><img alt="Orange (1)" src="images/colors/orange-32x32.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="White (2)" href="15"><img alt="White (2)" src="images/colors/white-32x32.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Purple (0)" href="16"><img alt="Purple (0)" src="images/colors/purple-32x32.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Dark Blue (0)" href="17"><img alt="Dark Blue (0)" src="images/colors/dark_blue-32x32.jpg" />
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Light Green (0)" href="18"><img alt="Light Green (0)" src="images/colors/light_green-32x32.jpg" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div> <a class="title">SIZE</a>
                                <div class="">
                                    <div id="filter-group2">
                                        <ul>
                                            <li><a title="Small (4)" href="4"><span class="fe-checkbox"></span> Small (4)</a>
                                            </li>
                                            <li><a title="Extra Small (2)" href="20"><span class="fe-checkbox"></span> Extra Small (2)</a>
                                            </li>
                                            <li><a title="Medium (6)" href="5"><span class="fe-checkbox"></span> Medium (6)</a>
                                            </li>
                                            <li><a title="Large (7)" href="6"><span class="fe-checkbox"></span> Large (7)</a>
                                            </li>
                                            <li><a title="Extra Large  (2)" href="19"><span class="fe-checkbox"></span> Extra Large  (2)</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div> <a class="title">Price</a>
                                <div class="">
                                    <div id="filter-group3">
                                        <ul>
                                            <li><a title="Under $100 (0)" href="8"><span class="fe-checkbox"></span> Under $100 (0)</a>
                                            </li>
                                            <li><a title="$100 - $200 (0)" href="9"><span class="fe-checkbox"></span> $100 - $200 (0)</a>
                                            </li>
                                            <li><a title="Above $200 (0)" href="10"><span class="fe-checkbox"></span> Above $200 (0)</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.bt-filter -->
                    <div class="box bt-manufacturer not-animated" data-animate="fadeInLeft" data-delay="200">
                        <div class="box-heading">
                            <h1>Manufacturer</h1>
                        </div>
                        <div class="box-content">
                            <select class="boss-select" onchange="location = this.value">
                                <option value="manufacturer_id=8">Apple</option>
                                <option value="manufacturer_id=9">Canon</option>
                                <option value="manufacturer_id=7">Hewlett-Packard</option>
                                <option value="manufacturer_id=5">HTC</option>
                                <option value="manufacturer_id=6">Palm</option>
                                <option value="manufacturer_id=10">Sony</option>
                            </select>
                        </div>
                    </div>
                    <div class="box bt-alphabet not-animated" data-animate="fadeInLeft" data-delay="200">
                        <div class="box-heading">

                        </div>
                        <div class="box-content">
                            <div class="boss-alphabet">
                                <ul>
                                    <li><a href="#a">a</a>
                                    </li>
                                    <li><a href="#b">b</a>
                                    </li>
                                    <li><a href="#c">c</a>
                                    </li>
                                    <li><a href="#d">d</a>
                                    </li>
                                    <li><a href="#e">e</a>
                                    </li>
                                    <li><a href="#f">f</a>
                                    </li>
                                    <li><a href="#g">g</a>
                                    </li>
                                    <li><a href="#h">h</a>
                                    </li>
                                    <li><a href="#i">i</a>
                                    </li>
                                    <li><a href="#j">j</a>
                                    </li>
                                    <li><a href="#k">k</a>
                                    </li>
                                    <li><a href="#l">l</a>
                                    </li>
                                    <li><a href="#m">m</a>
                                    </li>
                                    <li><a href="#n">n</a>
                                    </li>
                                    <li><a href="#o">o</a>
                                    </li>
                                    <li><a href="#p">p</a>
                                    </li>
                                    <li><a href="#q">q</a>
                                    </li>
                                    <li><a href="#r">r</a>
                                    </li>
                                    <li><a href="#s">s</a>
                                    </li>
                                    <li><a href="#t">t</a>
                                    </li>
                                    <li><a href="#u">u</a>
                                    </li>
                                    <li><a href="#v">v</a>
                                    </li>
                                    <li><a href="#w">w</a>
                                    </li>
                                    <li><a href="#x">x</a>
                                    </li>
                                    <li><a href="#y">y</a>
                                    </li>
                                    <li><a href="#z">z</a>
                                    </li>
                                    <li><a href="#0">#</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.bt-alphabet -->
                    <div class="bt-tagcloud box not-animated" data-animate="fadeInLeft" data-delay="200">
                        <div class="box-heading">
                            <h1>Tags</h1> </div>
                        <div class="box-content" style="text-align:left;"> <a href="#Texa" style="text-decoration:none;font-size:18px;font-weight:normal;" title=""> Texa</a> <a href="#molestie" style="text-decoration:none;font-size:13px;font-weight:normal;" title="">molestie</a> <a href="#Madazic" style="text-decoration:none;font-size:13px;font-weight:normal;" title=""> Madazic</a> <a href="#Sakutara" style="text-decoration:none;font-size:12px;font-weight:normal;" title=""> Sakutara</a> <a href="#pharetra" style="text-decoration:none;font-size:20px;font-weight:normal;" title="">pharetra</a> <a href="#Navia" style="text-decoration:none;font-size:19px;font-weight:normal;" title=""> Navia</a> <a href="#Supper Frankie" style="text-decoration:none;font-size:12px;font-weight:normal;" title="">Supper Frankie</a> <a href="#Nakata" style="text-decoration:none;font-size:13px;font-weight:normal;" title=""> Nakata</a> <a href="#justo" style="text-decoration:none;font-size:19px;font-weight:normal;" title="">justo</a> <a href="#sudan" style="text-decoration:none;font-size:20px;font-weight:normal;" title="">sudan</a> <a href="#Aenean" style="text-decoration:none;font-size:13px;font-weight:normal;" title="">Aenean</a> <a href="#frankie" style="text-decoration:none;font-size:13px;font-weight:normal;" title="">frankie</a> <a href="#supper" style="text-decoration:none;font-size:18px;font-weight:normal;" title="">supper</a> </div>
                    </div><!-- /.bt-tagcloud -->
                    <div data-delay="200" data-animate="fadeInLeft" class="bt-banner-left fadeInLeft animated">
                        <a href="#" title="banner left"> <img alt="banner" src="images/banner/banner_left1.jpg"><span class="bg-top">&nbsp;</span> <span class="bg-bottom">&nbsp;</span>
                        </a>
                    </div><!-- /.bt-banner-left -->
                </column><!-- /#column-left -->
                <div id="content" class="col-sm-9">
                    <div data-delay="200" data-animate="fadeInDown" class="bt-block-category fadeInDown animated">
                        <a href="#"> <img alt="banner" src="images/banner/banner_category.jpg"></a>
                        <div class="block-title">
                            <h1>modern art</h1>
                            <h4>glamour with an edge</h4> <a href="#">Shop Now</a>
                        </div>
                    </div><!-- /.bt-block-category -->
                    <div class="category-list not-animated" data-animate="fadeInRight" data-delay="300">
                        <h4>Refine Search</h4>
                        <ul>
                            <li><a href="product-category.html">Cups &amp; Glass (4)</a></li>
                            <li><a href="product-category.html">Sweatshirts (11)</a></li>
                            <li><a href="product-category.html">Jeans (1)</a></li>
                            <li><a href="product-category.html">Cords (0)</a></li>
                            <li><a href="product-category.html">T-Shirts (2)</a></li>
                        </ul>
                    </div><!-- /.category-list -->
                    <div class="product-filter">
                        <div class="link-compare"><a href="product-compare.html" id="compare-total">Product Compare (0)</a>
                        </div><!-- /.link-compare -->
                        <div class="display hidden-xs">
                            <button type="button" id="list-view" class="btn-list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i>
                            </button>
                            <button type="button" id="grid-view" class="btn-grid" data-toggle="tooltip" title="Grid"><i class="fa fa-th-large"></i>
                            </button>
                        </div><!-- /.display -->
                        <div class="limit-sort hidden-xs">
                            <div class="box_sort">
                                <label class="control-label" for="input-sort">Sort By:</label>
                                <label>
                                    <select id="input-sort" class="form-control" onchange="location = this.value;">
                                        <option value="sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                                        <option value="sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                                        <option value="sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                                        <option value="sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                                        <option value="sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                                        <option value="sort=rating&amp;order=DESC">Rating (Highest)</option>
                                        <option value="sort=rating&amp;order=ASC">Rating (Lowest)</option>
                                        <option value="sort=p.model&amp;order=ASC">Model (A - Z)</option>
                                        <option value="sort=p.model&amp;order=DESC">Model (Z - A)</option>
                                    </select>
                                </label>
                            </div>
                            <div class="box_limit">
                                <label class="control-label" for="input-limit">Show:</label>
                                <label>
                                    <select id="input-limit" class="form-control" onchange="location = this.value;">
                                        <option value="limit=15" selected="selected">15</option>
                                        <option value="limit=25">25</option>
                                        <option value="limit=50">50</option>
                                        <option value="limit=75">75</option>
                                        <option value="limit=100">100</option>
                                    </select>
                                </label>
                            </div>
                        </div><!-- /.limit-sort -->
                    </div><!-- /.product-filter -->
                    <div class="row">
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p21-270x307.jpg" alt="Cashmere cuff vintage Levi maxi" title="Cashmere cuff vintage Levi maxi" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Cashmere cuff vintage Levi maxi</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> <img src="images/colors/black-20x20.png" title="Black" alt="Black">
                                        </span> <img src="images/colors/pink-20x20.png" title="Pink" alt="Pink">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et blan..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p5-270x307.jpg" alt="Cashmere Saint Laurent" title="Cashmere Saint Laurent" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Cashmere Saint Laurent</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> <img src="images/colors/black-20x20.png" title="Black" alt="Black">
                                        </span> <img src="images/colors/pink-20x20.png" title="Pink" alt="Pink">
                                        </span> <img src="images/colors/green-20x20.png" title="Green" alt="Green">
                                        </span> <img src="images/colors/orange-20x20.jpg" title="Orange" alt="Orange">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p4-270x307.jpg" alt="Cashmere Saint Laurent" title="Cashmere Saint Laurent" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Cashmere Saint Laurent</a>
                                    </div>
                                    <div class="price"> $2,000.00 </div>
                                    <div class="b_filter"> <img src="images/colors/pink-20x20.png" title="Pink" alt="Pink">
                                        </span> <img src="images/colors/red-20x20.png" title="Red" alt="Red">
                                        </span> <img src="images/colors/gray-20x20.png" title="Yellow" alt="Yellow">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p12-270x307.jpg" alt="Floral gold collar chunky" title="Floral gold collar chunky" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Floral gold collar chunky</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> <span class="price-old">$122.00</span> <span class="price-new">$98.00</span> </div>
                                    <div class="b_filter"> <img src="images/colors/black-20x20.png" title="Black" alt="Black">
                                        </span> <img src="images/colors/red-20x20.png" title="Red" alt="Red">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p11-270x307.jpg" alt="Jil Sander Vasari white shirt" title="Jil Sander Vasari white shirt" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Jil Sander Vasari white shirt</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p17-270x307.jpg" alt="Leggings midi sneaker cable knit" title="Leggings midi sneaker cable knit" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Leggings midi sneaker cable knit</a>
                                    </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p13-270x307.jpg" alt="Metallic indigo cuff seam bandeau" title="Metallic indigo cuff seam bandeau" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Metallic indigo cuff seam bandeau</a>
                                    </div>
                                    <div class="price"> $602.00 </div>
                                    <div class="b_filter"> <img src="images/colors/black-20x20.png" title="Black" alt="Black">
                                        </span> <img src="images/colors/red-20x20.png" title="Red" alt="Red">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p14-270x307.jpg" alt="Minimal black ribbed bandeau" title="Minimal black ribbed bandeau" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Minimal black ribbed bandeau</a>
                                    </div>
                                    <div class="price"> $123.20 </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p19-270x307.jpg" alt="Minimal black ribbed bandeau" title="Minimal black ribbed bandeau" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Minimal black ribbed bandeau</a>
                                    </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> <img src="images/colors/red-20x20.png" title="Red" alt="Red">
                                        </span> <img src="images/colors/green-20x20.png" title="Green" alt="Green">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p9-270x307.jpg" alt="Minimal black ribbed bandeau" title="Minimal black ribbed bandeau" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Minimal black ribbed bandeau</a>
                                    </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p22-270x307.jpg" alt="Navy blue center part leather" title="Navy blue center part leather" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Navy blue center part leather</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $1,202.00 </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p3-270x307.jpg" alt="Oversized sweatshirt" title="Oversized sweatshirt" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Oversized sweatshirt</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="b_filter"> <img src="images/colors/black-20x20.png" title="Black" alt="Black">
                                        </span> <img src="images/colors/pink-20x20.png" title="Pink" alt="Pink">
                                        </span> <img src="images/colors/red-20x20.png" title="Red" alt="Red">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p15-270x307.jpg" alt="Prada Saffiano cashmere crop" title="Prada Saffiano cashmere crop" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Prada Saffiano cashmere crop</a>
                                    </div>
                                    <div class="price"> $122.00 </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p8-270x307.jpg" alt="Ribbed boots holographic Cline" title="Ribbed boots holographic Cline" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Ribbed boots holographic Cline</a>
                                    </div>
                                    <div class="price"> $337.99 </div>
                                    <div class="b_filter"> <img src="images/colors/white-20x20.jpg" title="White" alt="White">
                                        </span>
                                    </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb">
                                <div class="image">
                                    <a href="product-detail.html"><img src="images/product/p7-270x307.jpg" alt="Ribbed boots holographic Cline" title="Ribbed boots holographic Cline" class="img-responsive" />
                                    </a>
                                    <div class="button-group button-grid">
                                        <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                        </button>
                                        <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="product-detail.html">Ribbed boots holographic Cline</a>
                                    </div>
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <div class="price"> $98.00 </div>
                                    <div class="description">
                                        <p>Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et bl..</p>
                                    </div>
                                </div>
                                <div class="button-group button-list">
                                    <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                    <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                                    </button>
                                    <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                                    </button>
                                </div>
                            </div>
                        </div><!-- /.product-layout -->
                    </div><!-- /.row -->
                    <div class="result-pagination">
                        <div class="results pull-left">Showing 1 to 15 of 19 (2 Pages)</div>
                        <div class="links">
                            <ul class="pagination">
                                <li class="active"><span>1</span>
                                </li>
                                <li><a href="page=2">2</a>
                                </li>
                                <li><a href="page=2">&gt;</a>
                                </li>
                                <li><a href="page=2">&gt;|</a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.result-pagination -->
                </div><!-- /#content -->
                <div id="tags-load"><i class="fa fa-spinner fa-pulse fa-2x"></i>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->



      <div id="tags-load"><i class="fa fa-spinner fa-pulse fa-2x"></i>
      </div>
    </div>




  <div id="back_top" class="back_top" title="Back To Top"><span><i class="fa fa-angle-up"></i></span></div>

  <% @photos.each do |image| %>
    <div id="<%=image.product.first.id%>Modal" class="modal fade" role="dialog" >
      <div style="width: 95%; max-width: 900px;" class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" title="Close" data-dismiss="modal" aria-hidden="true"></button>
        </div>
        <div class="modal-body">
          <div id="modal-content">
            <div class="product-info-qs product-info">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="bt-product-zoom">
                    <div class="image">
                      <%= image_tag(image.image.url(:large), :class => "img-responsive") %>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="product-name">
                    <h1><%= image.name %></h1>
                  </div>
                  <div class="description">Product Description</div>
                  <div class="button-group">
                    <%=button_to "View #{image.product.first.name}", category_product_path(image.product.first.category.slug, image.product.first.slug), method: :get %>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="image-additional">
                    <ul id="boss_image_additional">
                      <% image.product.first.product_images.each do |product_image| %>
                      <li>
                        <a href="<%= product_image.image.url(:thumb)%>" title="<%= product_image.name %>" class="cloud-zoom-gallery"><img src="<%= product_image.image.url(:thumb)%>" title="<%= product_image.name %>" alt="<%= product_image.name %>">
                        </a>
                      </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


  <script src="../javascripts/jquery-2.1.1.min.js"></script>
  <script src="../javascripts/bootstrap.min.js"></script>
  <script src="../javascripts/getwidthbrowser.js"></script>
  <script src="../javascripts/cs.bossthemes.js"></script>
  <script src="../javascripts/jquery.jgrowl.js"></script>
  <script src="../javascripts/jquery.appear.js"></script>
  <script src="../javascripts/video.js"></script>
  <script src="../javascripts/jquery.smoothscroll.js"></script>
  <script src="../javascripts/carouFredSel-6.2.1.js"></script>
  <script src="../javascripts/isotope.pkgd.js"></script>
  <script src="../javascripts/plugins.js"></script>
  <script src="../javascripts/jquery.tools.min.js"></script>
  <script src="../javascripts/jquery.revolution.min.js"></script>
  <script src="../javascripts/cloud-zoom.1.0.3.js"></script>
  <script src="../javascripts/custom.js"></script>
  <script>
    jQuery(document).ready(function() {

        boss_quick_shop();
        dataAnimate();

        /* View Mode */
        // Product List
        $('#list-view').on('click',function() {
            $('#content .product-layout').attr('class', 'product-layout product-list col-xs-12');
            localStorage.setItem('display', 'list');
        });
        // Product Grid
        $('#grid-view').on('click',function() {
            // What a shame bootstrap does not take into account dynamically loaded columns
            cols = $('#column-right, #column-left').length;
            if (cols == 2) {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-3 col-xs-12');
            } else if (cols == 1) {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-3 col-xs-12');
            } else {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-3 col-xs-12');
            }
            localStorage.setItem('display', 'grid');
        });
        if (localStorage.getItem('display') == 'list') {
            $('#list-view').trigger('click');
        } else {
            $('#grid-view').trigger('click');
        }
    });
    /* Modal Quick Shop */
    $('#myModal').on('shown.bs.modal', function (e) {
        $.fn.CloudZoom.defaults = {
            adjustX: 0,
            adjustY: 0,
            tint: '#FFF',
            tintOpacity: 0.5,
            softFocus: 0,
            lensOpacity: 0.7,
            zoomWidth: '450',
            zoomHeight: '552',
            position: 'inside',
            showTitle: 0,
            titleOpacity: 0.5,
            smoothMove: '3'
        };
        $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
    })
    /* Quick Shop */
    function boss_quick_shop(){
        $('.product-thumb').each(function(index, value){
            var _qsHref = '<button class=\"btn-quickshop\" title =\"Product View\" class=\"sft_quickshop_icon \" data-toggle=\"modal\" data-target=\"#myModal\"><i class="fa fa-eye"></i></button>';
            $('.button-group', this).append(_qsHref);
        });
    }
  </script>
