<div class="bt-breadcrumb">
  <div class="container">
    <div class="row">
      <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a>
        </li>
        <li><%= link_to 'Blog', posts_path %>
        </li>
      </ul>
    </div>
  </div>
</div><!-- /.bt-breadcrumb -->
<div class="container">
  <div class="row">
    <column id="column-left" class="col-sm-3 hidden-xs">
    <div class="boss-search box">
      <div class="box-heading block-title">
        <h1>Blog Search</h1>
      </div>
      <div class="box-content">
        <div id="blogsearch" class="input-group">
          <input type="text" name="blogsearch" value="" placeholder="Search" class="form-control input-lg" /> 
          <span class="input-group-btn">
            <button type="button" class="btn btn-search "><i class="fa fa-search"></i></button>
          </span> 
        </div>
      </div>
    </div><!-- /.boss-search -->
    <div class="box block boss_blog-cat">
      <div class="box-heading block-title">
        <div>
          <h1>Blog Categories</h1>
        </div>
      </div>
      <div class="box-content">
        <div class="box-category" id="boss-blog-category">
          <ul class="box-category">
            <li class=""> <a href="#">Smart phone <span>7</span></a> </li>
            <li class="sub_child "> <a href="#">Technology <span>7</span></a>
              <ul class="blog_child">
                <li><a href="#"> Digital Camera <span>7</span></a>
                </li>
                <li><a href="#"> Smart phone <span>7</span></a>
                </li>
              </ul>
            </li>
            <li class=""> <a href="#">Business <span>7</span></a> </li>
            <li class=""> <a href="#">Sport <span>7</span></a> </li>
          </ul>
        </div>
      </div>
    </div><!-- /.boss_blog-cat -->
    <div class="box block boss-recent-post">
      <div class="box-heading"> <span>Blog Recent Post</span> </div>
      <div class="box-content block-content">
        <ol>
          <li class="item-recent-post">
            <div class="image">
              <a class="article-title" href="blog-detail.html"><img src="images/blog/b2-98x70.jpg" alt="Braid slipper dress dungaree " title="Braid slipper dress dungaree " />
              </a>
            </div>
            <div class="title"> 
              <a class="article-title" href="blog-detail.html">Braid slipper dress dungaree </a> 
              <small class="time-stamp">Dec 22, 2014</small> 
            </div>
          </li>
          <li class="item-recent-post">
            <div class="image">
              <a class="article-title" href="blog-detail.html"><img src="images/blog/b6-98x70.jpg" alt="Indigo skirt skirt braid vintage" title="Indigo skirt skirt braid vintage" />
              </a>
            </div>
            <div class="title"> 
              <a class="article-title" href="blog-detail.html">Indigo skirt skirt braid vintage</a> 
              <small class="time-stamp">Dec 22, 2014</small> 
            </div>
          </li>
          <li class="item-recent-post">
            <div class="image">
              <a class="article-title" href="blog-detail.html"><img src="images/blog/b1-98x70.jpg" alt="Givenchy playsuit" title="Givenchy playsuit" />
              </a>
            </div>
            <div class="title"> 
              <a class="article-title" href="blog-detail.html">Givenchy playsuit</a> 
              <small class="time-stamp">Dec 22, 2014</small> 
            </div>
          </li>
        </ol>
      </div>
    </div><!-- /.boss-recent-post -->
    <div class="box bt-recent-comments">
      <div class="box-heading block-title">
        <h1>Blog Recent Comment</h1> </div>
        <div class="box-content">
          <ol>
            <li class="item recent-comment-item">
              <div> 
                <a class="article-title" href="blog-detail.html">Givenchy playsuit</a> 
              </div> 
              <small class="time-stamp">Tuesday, Jan 20, 2015</small>
              <div class="item-content"> Nullam at semper mauris. Aenean nec felis eu velit... </div> <span class="comment-by">Admin</span> 
            </li>
            <li class="item recent-comment-item">
              <div> 
                <a class="article-title" href="blog-detail.html">Givenchy playsuit</a> 
              </div> 
              <small class="time-stamp">Tuesday, Jan 20, 2015</small>
              <div class="item-content"> Nullam at semper mauris. Lorem ipsum dolor sit ame... </div> <span class="comment-by">Navida</span> 
            </li>
            <li class="item recent-comment-item">
              <div> 
                <a class="article-title" href="blog-detail.html">Givenchy playsuit</a> 
              </div> 
              <small class="time-stamp">Tuesday, Jan 20, 2015</small>
              <div class="item-content"> Lorem ipsum dolor sit amet, consectetur adipiscing... </div> <span class="comment-by">Admin</span> 
            </li>
          </ol>
        </div>
      </div><!-- /.bt-recent-comments -->
      <div class="bt-tagcloud box">
        <div class="box-heading block-title">
          <h1>Tags</h1> </div>
          <div class="box-content" style="text-align:left;"> <a href="#nsectetur" style="text-decoration:none;font-size:10px;font-weight:normal;" title="">nsectetur</a> <a href="#dapibus" style="text-decoration:none;font-size:19px;font-weight:normal;" title="">dapibus</a> <a href="#quiblanditiis" style="text-decoration:none;font-size:22px;font-weight:normal;" title="">quiblanditiis</a> <a href="#ducimus" style="text-decoration:none;font-size:10px;font-weight:normal;" title="">ducimus</a> <a href="#tristiqueu" style="text-decoration:none;font-size:13px;font-weight:normal;" title="">tristiqueu</a> <a href="#tquas" style="text-decoration:none;font-size:13px;font-weight:normal;" title="">tquas</a> <a href="#moll" style="text-decoration:none;font-size:22px;font-weight:normal;" title="">moll</a> <a href="#adipiscing" style="text-decoration:none;font-size:22px;font-weight:normal;" title="">adipiscing</a> <a href="#dignissimos" style="text-decoration:none;font-size:12px;font-weight:normal;" title="">dignissimos</a> <a href="#risus" style="text-decoration:none;font-size:21px;font-weight:normal;" title="">risus</a> <a href="#deserunt" style="text-decoration:none;font-size:14px;font-weight:normal;" title="">deserunt</a> <a href="#praesentium" style="text-decoration:none;font-size:24px;font-weight:normal;" title="">praesentium</a> <a href="#aliquam" style="text-decoration:none;font-size:13px;font-weight:normal;" title="">aliquam</a> <a href="#dolorese" style="text-decoration:none;font-size:25px;font-weight:normal;" title="">dolorese</a> <a href="#stoporta" style="text-decoration:none;font-size:9px;font-weight:normal;" title="">stoporta</a> <a href="#volutpa" style="text-decoration:none;font-size:22px;font-weight:normal;" title="">volutpa</a> </div>
        </div><!-- /.bt-tagcloud -->
        <div data-delay="200" data-animate="fadeInLeft" class="bt-banner-left fadeInLeft animated">
          <a href="#" title="banner left"> <img alt="banner" src="images/banner/banner_left1.jpg"><span class="bg-top">&nbsp;</span> <span class="bg-bottom">&nbsp;</span>
          </a>
        </div><!-- /.bt-banner-left -->
      </column><!-- /#column-left -->
      <div id="content" class="col-sm-9">
        <h1>Blog</h1>
        <div class="article-filter">
          <div class="rss-feed">
            <a href="#" title='RSS'><img src='images/rss.png' alt='Rss' />
            </a>
          </div>
          <div class="display hidden-xs">
            <button type="button" id="list-view" class="btn-list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i>
            </button>
            <button type="button" id="grid-view" class="btn-grid" data-toggle="tooltip" title="Grid"><i class="fa fa-th-large"></i>
            </button>
          </div>
          <div class="limit-sort hidden-xs">
            <div class="box_sort">
              <label class="control-label" for="input-sort">Sort By:</label>
              <label>
                <select id="input-sort" class="form-control">
                  <option value="blog.html&amp;sort=ba.sort_order&amp;order=ASC" selected="selected">Default</option>
                  <option value="sort=bad.name&amp;order=ASC">Name (A - Z)</option>
                  <option value="sort=bad.name&amp;order=DESC">Name (Z - A)</option>
                  <option value="sort=ba.date_added&amp;order=ASC">Date Added (Old &gt; New)</option>
                  <option value="sort=ba.date_added&amp;order=DESC">Date Added (New &gt; Old)</option>
                  <option value="sort=comment&amp;order=DESC">Comment (Highest)</option>
                  <option value="sort=comment&amp;order=ASC">Comment (Lowest)</option>
                </select>
              </label>
            </div>
            <div class="box_limit">
              <label class="control-label" for="input-limit">Show:</label>
              <label>
                <select id="input-limit" class="form-control">
                  <option value="limit=5" selected="selected">5</option>
                  <option value="limit=10">10</option>
                  <option value="limit=15">15</option>
                  <option value="limit=20">20</option>
                  <option value="limit=30">30</option>
                </select>
              </label>
            </div>
          </div>
        </div><!-- /.article-filter -->
        <div class="row">
          <% @posts.each do |post| %>
            <div class="article-layout article-list col-xs-12">
            <div class="content-bg">
              <div class="article-image">
                <a href="blog-detail.html"><img src="images/blog/b2-420x300.jpg" alt=<%= "#{post.name}" %> title=<%= "#{post.name}" %> class="img-responsive" />
                </a>
              </div>
              <div class="article_dt">
                <div class="article-name">
                  <h2><%= link_to post.name, post_path(post) %></h2> 
                </div>
                  <div class="time-stamp"><%= post.created_at.strftime('%A, %b %d, %Y') %> </div>
                  <div class="article-title">
                    <p><%= post.description %></p>
                  </div> 
                  <%= link_to 'Read more', post_path(post), class: "btn-readmore" %>
                </div>
              </div>
            </div>
          <% end %>
       </div><!-- /.row -->
       <div class="result-pagination blog-pagination">
         <div class="results pull-left">Showing 1 to 5 of 7 (2 Pages)</div>
         <div class="links">
           <ul class="pagination">
             <li class="active"><span>1</span>
             </li>
             <li><a href="#page=2">2</a>
             </li>
             <li><a href="#page=2">&gt;</a>
             </li>
             <li><a href="#page=2">&gt;|</a>
             </li>
           </ul>
         </div>
       </div><!-- /.result-pagination -->
     </div><!-- /#content -->
   </div><!-- /.row -->
 </div><!-- /.container -->


<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/getwidthbrowser.js"></script>
<script src="/javascripts/cs.bossthemes.js"></script>
<script src="/javascripts/jquery.jgrowl.js"></script>
<script src="/javascripts/jquery.appear.js"></script>
<script src="/javascripts/video.js"></script>
<script src="/javascripts/jquery.smoothscroll.js"></script>
<script src="/javascripts/carouFredSel-6.2.1.js"></script>
<script src="/javascripts/plugins.js"></script>
<script src="/javascripts/jquery.tools.min.js"></script>
<script src="/javascripts/jquery.revolution.min.js"></script>
<script src="/javascripts/cloud-zoom.1.0.3.js"></script>
<script src="/javascripts/custom.js"></script>
<script>
                        jQuery(document).ready(function() {
                          /* View Mode */
        // Article List
        $('#list-view').on('click',function() {
          $('#content .article-layout').attr('class', 'article-layout article-list col-xs-12');
          localStorage.setItem('display', 'list');
        });
        // Article Grid
        $('#grid-view').on('click',function() {
            // What a shame bootstrap does not take into account dynamically loaded columns
            cols = $('#column-right, #column-left').length;
            if (cols == 2) {
              $('#content .article-layout').attr('class', 'article-layout article-grid col-md-6 col-xs-12');
            } else if (cols == 1) {
              $('#content .article-layout').attr('class', 'article-layout article-grid col-md-4 col-sm-6 col-xs-12');
            } else {
              $('#content .article-layout').attr('class', 'article-layout article-grid col-md-3 col-sm-4 col-xs-12');
            }
            localStorage.setItem('display', 'grid');
          });
        if (localStorage.getItem('display') == 'list') {
          $('#list-view').trigger('click');
        } else {
          $('#grid-view').trigger('click');
        }
      });
    </script>